body, header, nav, main, footer, h1, h2, h3, ul{
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

body{
    overflow: auto;
    background: radial-gradient(circle,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 100%);
    font-family: "Roboto", sans-serif;
}

body p{
    font-size: 1.25em;
    font-family: "Roboto", sans-serif;
}

.tab-desk{
    display: none;
}

#menu-links{
    display: none;
}

.mobile-nav{
    overflow: hidden;
    position: relative;
}

.mobile-nav a{
    color: #ddd;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.menu-icon {
    background: black;
    color: #ddd;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.mobile-nav a:hover{
    background-color: black;
    color: #ddd;
}

.mobile-nav a.menu-icon:hover{
    background-color: #ddd;
    color: black;
}

.mobile-nav .logo{
    color: #00D4FF;
}

.logo{
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-size: 1.5em;
    color: #00D4FF;
    text-decoration: none;
}

nav{
    position: sticky;
    top: 0;
    background-color: rgba(30, 30, 30, 0.8); /* dark translucent */
    backdrop-filter: blur(8px); /* adds a frosted glass look */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3)
}

h1{
    text-align: center;
    color: white;
}

h2{
    margin: 10px 0;
    color: white;
    text-align: center;
}

.typewriter {
    text-align: center;
    color: #00D4FF;
    font-size: 1rem;
    margin: 0 auto;

    white-space: nowrap;
    overflow: hidden;
    border-right: 0.5px solid #00D4FF;
    width: 0;
    animation:
      typing 3s steps(28, end) forwards,
      blink 0.7s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to   { width: 28ch }
}

li{
    display: block;
    align-items: center;
}

li a{
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.column img{
    display: none;
}

.icons{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.icons a i{
    color: #00D4FF;
    font-size: 24px;
    padding: 0.25em;
    margin-right: 15px;
    border: 2px solid #00D4FF;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.column a{
    text-decoration: none;
}

.column button{
    background-color: #00D4FF;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    align-items: center;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
    transition-duration: 0.4s;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #00D4FF;
    color: white;
    cursor: pointer;
    padding: 12px 18px;
    border-radius: 50px;
    font-size: 18px;
    box-shadow: 0 0 10px #00f6ff, 0 0 20px #00f6ff;
    transition: all 0.3s ease;
}

footer{
    width: 100%;
    text-align: center;
    font-size: 0.65em;
    clear: left;
    background-color: white;
    margin-top: auto;
}

footer li{
    display: inline-block;
}

.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.contact-info{
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
    padding: 10px;
    background-color: #777;
    border: 1px solid black;
    border-radius: 10px;
}

.contact-map{
    display: block;
    width: 90%;
    height: auto;
    border: 5px solid #383B39;
    border-radius: 10px;
    margin: auto;
}

.contact-map iframe{
    width: 100%;
    height: 100%;
}

.contact-grid{
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
}

.contact-grid input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-grid textarea{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

input[type="submit"].btn{
    width: 100%;
    border: none;
    border-radius: 10px;
    background: #c7c7c7;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.about .main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.main-text h1{
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #00D4FF;
}

.main-text h5{
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main p{
    text-align: center;
}

span{
    color: #00D4FF;
}

.main img{
    display: block;
    max-width: 100%;
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #c7c7c7;
    border: 10px solid #777777;
    border-radius: 50%;
    box-shadow: 
        0 0 10px #00f6ff,
        0 0 20px #00f6ff,
        0 0 40px #00f6ff,
        0 0 80px #00f6ff;
}

button{
    display: block;
    margin: 0 auto;
    background-color: #00D4FF;
    color: black;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 10px 20px;
}

.gallery img{
    width: 100%;
    height: auto;
}

.desc{
    padding: 15px;
    text-align: center;
    font-size: 16px;
}

.responsive{
    padding: 6px 6px;
    width: 100%;
    float: left;
}

.gallery {
    border: 1px solid #ccc;
    background-color: white;
}

.clearfic:after{
    content: "";
    display: table;
    clear: both;
}



@media screen and (min-width: 550px), print{
    .tab-desk{
        display: none;
    }

    .main img{
        display: block;
    }


    .logo{
        margin: 0;
        padding: 0;
        font-size: 2em;
    }

    .container{
        padding: 40px 20px;
        width: 100%;
    }

    .column{
        float: left;
        width: 50%;
    }

    .column img{
        display: block;
        width: 75%;
        background-color: #c7c7c7;
        border: 10px solid #777777;
        border-radius: 50%;
        box-shadow: 
            0 0 10px #00f6ff,
            0 0 20px #00f6ff,
            0 0 40px #00f6ff,
            0 0 80px #00f6ff;
    }

    .responsive{
        width: 49.99999%;
        margin: 6px 0;
    }

    nav{
        border-bottom: 1px solid black;
        align-items: center;
    }

    nav ul{
        list-style-type: none;
        text-align: center;
    }

    nav li{
        border-top: none;
        display: inline-block;
        font-size: 1.5em;
    }

    h2{
        display: block;
        text-align: start;
        font-size: 2em;
        padding-bottom: 10px;
    }

    h3{
        display: inline-block;
        text-align: start;
    }

    .icons{
        display: flex;
        justify-content: left;
    }

    h3{
        font-size: 1.5em;
        color: #c7c7c7;
    }

    .column button{
        background-color: #00D4FF;
        border: none;
        border-radius: 12px;
        color: black;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
    }

    #work{
        padding: 40px 20px;
        margin: auto;
        width: 100%;
    }

    #work h1{
        text-align: center;
        font-size: 2.5em;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
    }

    .work-column{
        float: left;
        width: 33%;
        padding: 10px;
    }

    .work-column img{
        width: 100%;
        margin-top: 12px;
        border-radius: 13px;
    }

    .contact{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .contact-info{
        width: 80%;
        height: auto;
        margin: auto;
        display: block;
        padding: 10px;
        border-radius: 10px;
    }

    .contact-map iframe{
        width: 100%;
        height: 100%;
    }

    .contact-grid{
        width: 100%;
        height: auto;
        padding: 30px;
    }

    .contact-grid input{
        width: 100%;
        height: 40px;
        border-radius: 5px;
        outline: none;
        margin-bottom: 20px;
        padding: 15px;
    }

    .contact-grid textarea{
        width: 100%;
        height: 100px;
        border-radius: 5px;
        outline: none;
        margin-bottom: 20px;
        padding: 15px;
    }

    form #submit{
        width: 100%;
        border: none;
        border-radius: 20px;
        background: #00f6ff;
        text-transform: uppercase;
        cursor: pointer;
        box-shadow: 
            0 0 10px #00f6ff,
            0 0 20px #00f6ff,
            0 0 40px #00f6ff,
            0 0 80px #00f6ff;
    }

    .about{
        width: 100%;
        padding: 0 2em;
    }

    .main img{
        margin-right: 15px;
    }

    .main{
        margin: 40px auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .main-text p{
        font-size: 18px;
        margin-bottom: 20px;
        color: white;
    }

    span{
        color: #00D4FF;
    }

    button{
        cursor: pointer;
        grid-column: 1 / span 2;
        background-color: #00D4FF;
        border: none;
        border-radius: 60px;
        color: black;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        margin: 0 auto;
        cursor: pointer;
        transition-duration: 0.4s;
    }

    footer{
        margin-top: auto;
    }
}

@media screen and (min-width: 769px), print {
    .tab-desk{
        display: flex;
        justify-content: space-between;
    }

    .mobile-nav{
        display: none;
    }

    nav{
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 1rem
    }
    
    .logo{
        font-family: "Salsa", cursive;
        font-weight: 400;
        font-size: 24px;
        color: #00D4FF;
        text-decoration: none;
    }
    
    li{
        display: inline-block;
    }  
    
    li a{
        font-family: "Roboto", sans-serif;
        color: #ddd;
        font-size: 18px;
        margin-right: 20px;
        text-transform: uppercase;
        text-decoration: none;
    }

    li a:hover,
    li a.active{
        color: #00D4FF;
        text-decoration: underline;
    }

    .container{
        padding: 40px 20px;
        width: 100%;
    }

    .column{
        float: left;
        width: 50%;
    }

    .column img{
        float: right;
    }

    .icons a:hover i{
        color: black;
        background-color: #00D4FF;
        text-shadow:
            0 0 5px #00f6ff,
            0 0 10px #00f6ff,
            0 0 20px #00f6ff,
            0 0 40px #00f6ff,
            0 0 80px #00f6ff;
        box-shadow: 
            0 0 10px #00f6ff,
            0 0 20px #00f6ff,
            0 0 40px #00f6ff,
            0 0 80px #00f6ff;
    }

    #myBtn {
        display: none; /* Hidden by default */
        position: fixed;
        bottom: 40px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: #00D4FF;
        color: white;
        cursor: pointer;
        padding: 12px 18px;
        border-radius: 50px;
        font-size: 18px;
        box-shadow: 0 0 10px #00f6ff, 0 0 20px #00f6ff;
        transition: all 0.3s ease;
    }

    h2{
        font-size: 3em;

    }

    p{
        font-family: "Roboto", sans-serif;
        font-size: 1.125em;
        font-weight: 300;
    }

    .column h3{
        padding-bottom: 10px;
    }

    .column button:hover{
        background-color: #00D4FF;
        box-shadow: 
            0 0 10px #00f6ff,
            0 0 20px #00f6ff,
            0 0 40px #00f6ff,
            0 0 80px #00f6ff;
        color: black;
    }

    .typewriter {
        font-size: 1.2rem;
        font-family: 'Roboto', sans-serif;
        color: #00D4FF;
      
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
      
        width: 0;
        animation: typing 3s steps(28, end) forwards;
        position: relative;
      }
      
      .typewriter::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 2px;
        background: #00D4FF;
        animation: blink 0.7s step-end infinite;
      }
      
      @keyframes typing {
        from { width: 0 }
        to   { width: 28ch }
      }
      
      @keyframes blink {
        0%, 100% { opacity: 0 }
        50%     { opacity: 1 }
      }

    .contact{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .contact-info{
        width: 80%;
        height: auto;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        background-color: #777;
        border-radius: 10px;
    }

    .contact-map{
        width: 100%;
        height: auto;
        flex: 50%;
        margin: 0;
    }

    footer{
        text-align: center;
        font-size: 0.65em;
        margin-top: auto;
    }

    li i{
        font-size: 32px;
        padding-top: 10px;
        transition-duration: 0.4s;
    }

    li i:hover{
        color: #ddd;
        transform: scale(1.1);
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
      }

      .about {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px 20px;
      }
      
      .about .main {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 40px;
      }
      
      .about .main-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
      }

    .about img{
        display: block;
        margin: 0 auto;
        border-radius:50%;
        width: 30%;
        border: 10px solid black;
    }

    .about .main-text h1,
    .about .main-text h5,
    .about .main-text p {
        margin-bottom: 20px;
    }

    .work-column img:hover{
        cursor: pointer;
        transform: scale(1.02);
    }

    .work-row:after{
        content: "";
        display: table;
        clear: both;
    }

    .responsive{
        padding: 0 6px;
        width: 24.99999%;
    }
    
    .btn{
        cursor: pointer;
        grid-column: 1 / span 2;
        background-color: #00D4FF;
        border: none;
        border-radius: 60px;
        color: black;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
    }

    .btn:hover{
        background-color: #00D4FF;
        box-shadow: 
            0 0 10px #00f6ff,
            0 0 20px #00f6ff,
            0 0 40px #00f6ff,
            0 0 80px #00f6ff;
        color: black;
    }

    button:hover{
        background-color: #00D4FF;
        box-shadow: 
            0 0 10px #00f6ff,
            0 0 20px #00f6ff,
            0 0 40px #00f6ff,
            0 0 80px #00f6ff;
        color: black;
    }
}

@media print{
    body{
        background-color: white;
        color: black;
    }
}